.users-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //align-content: flex-start;
    .user-card {
        flex-grow: 1;
        margin: 10px;
        padding: 20px;
        border: solid 1px gray;
        border-radius: 2px;
        // max-width: 17rem;
        h1 {
            font-size: 20px;
            margin: 10px auto 10px auto;
        }
        p {
            margin: 10px auto 10px auto;
        }
        button {
            
        }
    }
}