.users-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.users-cards .user-card {
    flex-grow: 1;
    margin: 10px;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 2px;
    /* max-width: 17rem; */
}
.users-cards .user-card h1 {
    font-size: 16px;
    margin: 10px auto 10px auto;
}
.users-cards .user-card p {
    font-size: 14px;
    margin: 10px auto 10px auto;
}
.users-cards .user-card input[type=checkbox] {
    margin: 0 6px 0 0;
    position: relative;
    top: 3px;
    border-radius: 2px;
    cursor: pointer;
}
.users-cards .user-card button {
    margin: auto 5px auto 5px;
    border-radius: 2px;
    padding: 2px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}
